
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


body{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(59, 59, 207);
    font-weight: 900;
}

p{
    text-align: justify;
}


.tm-brand{
   font-size: 34px;
}

.tm-sidebar{
    background: rgb(9,82,112);
    background: linear-gradient(90deg, rgba(9,82,112,1) 0%, rgba(2,0,36,1) 19%, rgba(2,0,36,1) 81%, rgba(9,82,112,1) 100%);
}

.oque{
    padding: 50px;
    color: #fff;
    background: rgb(9,82,112);
    background: linear-gradient(90deg, rgba(9,82,112,1) 0%, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 100%, rgba(9,82,112,1) 100%);
    border-radius: 10px;
  
    padding: 20px;
   
}

.biblio li{
    list-style: none;
}

.titulos{
    color: #000;
    font-family: 'Source Code Pro', monospace;
    text-decoration: underline;
}

/*///////////////////////////////////////////////*/
@media(max-width: 700px){
    .tm-brand{
        font-size: 24px;
     }
}