
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



body{
    font-family: 'Ubuntu', sans-serif;
}


.tm-brand{
   font-size: 34px;
}

.tm-sidebar{
    background: rgb(10,131,182);
    background: linear-gradient(90deg, rgba(10,131,182,1) 0%, rgba(2,0,36,1) 25%, rgba(24,24,85,1) 88%, rgba(0,212,255,1) 100%);
}

.oque{
    padding: 50px;
    background-color: #fff;
}

.biblio li{
    list-style: none;
}

/*///////////////////////////////////////////////*/
@media(max-width: 700px){
    .tm-brand{
        font-size: 24px;
     }
}