
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



body{
    font-family: 'Ubuntu', sans-serif;
}


.tm-brand{
   font-size: 34px;
}

.tm-sidebar{
    background-color: #000;
}

.oque{
    padding: 50px;
    background-color: #fff;
}

.biblio li{
    list-style: none;
}

/*///////////////////////////////////////////////*/
@media(max-width: 700px){
    .tm-brand{
        font-size: 24px;
     }
}